# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Publish
publish/
*.pubxml
*.publishproj
Deployed Folder/

# Logs
*.log

# Resharper / Rider
_ReSharper*/
*.DotSettings.user

# Rider
.idea/

# Azure
*.azurePubxml

# Backup & database
*.bak
*.mdf
*.ldf
*.db

# Others
Thumbs.db
Desktop.ini
*.tmp
*.cache
*.pdb
